body {
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.forecast {
	font-family:    Verdana, SansSerif, serif;
	height:         100vh;
	display:        flex;
	flex-direction: column;
	align-items:    center;
}

.forecast__wrapper {
	display:         flex;
	flex-direction:  column;
	justify-content: center;
	align-items:     center;
	width:           500px;
}

.forecast__form {
	width: 100%;
}

.forecast__title {
	font-size:   64px;
	font-weight: bold;
	text-align:  center;
}

.forecast__legend {
	display:       block;
	font-size:     24px;
	text-align:    left;
	margin-bottom: 24px;
}

input {
	font-size:        14px;
	padding:          10px;
	display:          block;
	border:           0;
	background-color: #f7f7f7;
	border-radius:    8px;
	margin-bottom:    24px;
}

.forecast__input {
	width:      100%;
	transition: .3s;
}

.forecast__input:focus-visible {
	background-color: #b6e7e7;
	outline: 0;
}

.forecast__button {
	padding: 10px;
	width:            30%;
	background-color: #333;
	color:            #fff;
	border-radius:    8px;
	transition:       .3s;
}

.forecast__button:active {
	background-color: #000;
	color:            #f7f7f7;
}

.forecast__current {
	align-self: flex-start;
	display: flex;
	flex-direction: column;
}

.forecast__information {
	display: flex;
	justify-content: space-between;
}
